.header{
    height: 100vh;
    width: 100%;
    background-image: url("../images/confences.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav{
    height: 7rem;
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
}

