/*navigation bar*/
nav{
    font-size: 2rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav ul li{
    margin: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--C9);
}

nav ul li a:hover{
    color: var(--C6); 
}

nav img{
    height: 4rem;
    display: none;
}
/*main Content ==> udmLogo*/

.udmLogo{
    height: 18rem;
    display: flex;
    align-items: center;
    
}

.udmLogo img{
    height: 9rem;
    margin: 5rem;
}

/*styling icon for nav bar*/

.bar{
    display: flex;
    flex:1;
    margin: 3rem;
    align-items: center;
    justify-content: right;
    display: none;
}

.bar span{
    position:absolute;
    color: var(--C9);
    font-size: 3.2rem;
    padding: 0 -1rem;
}

input[type="checkbox"]{
    display: none;
}

/*-----Main Content-----*/

/*background title*/

.background-title{
    background: rgba(0, 0, 0, 0.83);
    backdrop-filter: blur(70px);
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;
    display: flex;
    z-index: -1;
    justify-content: center;
}

.tree1,
.tree2,
.tree3,
.tree4{
    width: 18%;
    height: 42rem;
}

.tree1 img,
.tree2 img,
.tree3 img,
.tree4 img{
    
    height: 100%;
    width: 100%;
    border-radius: 3rem;
}

.tree1{
    margin-top: 2rem;
}

.tree2{
    margin-top: 6rem;
    margin-left: 5rem;
}

.tree3{
    margin-top: 2rem;
    margin-left: 5rem;
}

.tree4{
    margin-top: 6rem;
    margin-left: 5rem;
}


.background-title h1,
.background-title h2{
    justify-content: center;
    text-align: center;
    color: var(--C9);
}

.background-title h1{
    font-size: 5rem;
}

.background-title h2{
    font-size: 3rem;
}

.title{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgba(41, 25, 25, 0.644);
    height: 50rem;
    margin: 0 auto;
}

.title h1{
    font-size: 5rem;
}

.title h2{
    font-size: 3rem;
}

/*-----gallery-----*/
.gallery{
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

.gallery__title{
    text-align: center;
}

.gallery__title h1{
    padding-bottom: 3rem;
}

.gal__img{
    width: 45rem;
    height: 30rem;
}

.gal__img img{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

.gal{
    width: 45rem;
    
}

.gal h3{
    padding-bottom: 3rem;
    text-align: center;
}

.gallery__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

/*-----footer-----*/

.footer p{
    text-align: center;
    color: var(--C9);
}

@media screen and (max-width:1036px){
    .tree1,
    .tree2,
    .tree3,
    .tree4{
        display: none;
    }

    .title h1,
    .title h2{
        color: var(--C9)
    }
}

@media screen and (max-width:690px){

    /*navigation bar*/
    nav{
        height: 7rem;
        padding: 1rem;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--C1);
        line-height: 2.4rem;
        visibility: hidden;
        transition: 0.3s;
        position: relative;
        z-index: 3;
    }

    nav ul li{
        transition: 0.3s 0.1s all;
        opacity: 0;
        z-index: 2;
    }

    nav ul li a{
        color:var(--C8);
    }

    nav img{
        display:flex;
        height: 4rem;
        width: 28%;
        padding: 0.4rem 1rem;
    }

    /*icon bar*/
    .bar{
        display: flex;
        position: absolute;
        top: -1rem;
        right: -1rem;
        cursor: pointer;
        padding: 1rem;
    }

    .bar #times{
        display:none;
    }

    #check:checked ~ nav .bar #times{
        display: block;
    } 

    #check:checked ~ nav .bar #bars{
        display: none;
    } 

    #check:checked ~ nav ul{
        visibility: visible;
    }

    /*style menu*/
    nav ul li:nth-child(1){
        transform: translateX(-15rem);
    }
    nav ul li:nth-child(2){
        transform: translateX(-20rem);
    }
    nav ul li:nth-child(3){
        transform: translateX(-25rem);
    }
    nav ul li:nth-child(4){
        transform: translateX(-30rem);
    }
    nav ul li:nth-child(5){
        transform: translateX(-35rem);
    }

    #check:checked ~ nav  ul li:nth-child(1),
    #check:checked ~ nav  ul li:nth-child(2),
    #check:checked ~ nav  ul li:nth-child(3),
    #check:checked ~ nav  ul li:nth-child(4),
    #check:checked ~ nav  ul li:nth-child(5){
        transform: translateX(0);
        opacity: 1;
    }

    .tree1,
    .tree2,
    .tree3,
    .tree4{
        display: none;
    }

    .title h1{
        font-size: 2rem;
    }

    .title h2{
        font-size: 1.5rem;
    }

    .title{
        height: 40rem;
        position: absolute;
        z-index: 2;
        display: flex;
    }

    .title h1,
    .title h2{
        display: flex;
        z-index: -1;
    }

    .background-title{
        height: 40rem;
        position: relative;
        z-index: 1;
    }

    .main-Content__title{
        z-index: -1;
    }

    .gal__img{
        width: 32rem;
        height: 30rem;
    }

    .gal{
        width: 32rem;   
    }
    
    .gal h3{
        padding-bottom: 3rem;
    }

    .gallery__title h1{
        padding-bottom: 2rem;
    }

}