
/*navigation bar*/
nav{
    font-size: 2rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav ul li{
    margin: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--C9);
}

nav ul li a:hover{
    color: var(--C1); 
}

nav img{
    height: 4rem;
    display: none;
}
/*main Content ==> udmLogo*/

.udmLogo{
    height: 18rem;
    display: flex;
    align-items: center;
    
}

.udmLogo img{
    height: 9rem;
    margin: 5rem;
}

/*main Content ==> event*/

.event{
    background-image: url("../images/rea.jpg"); /*rea.jpg ou b.jpg*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
    color:var(--C9);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event h2{
    text-align: center;
    font-size: 3rem;
}

.event h3{
    text-align: center;
    font-size: 2rem;
}

.event p{
    text-align: center;
    font-size: 2rem;
}

.event p a{
    color: var(--C9);
    text-decoration: none;
}

/*main Content ==> icacieLogo*/

.icacieLogo{
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--C9);
}

.icacieLogo img{
    height: 9rem;
    margin: 5rem;
}

/*styling icon for nav bar*/

.bar{
    display: flex;
    flex:1;
    margin: 3rem;
    align-items: center;
    justify-content: right;
    display: none;
}

.bar span{
    position:absolute;
    color: var(--C9);
    font-size: 3.2rem;
    padding: 0 -1rem;
}

input[type="checkbox"]{
    display: none;
}

/*-----Welcome Content-----*/

.welcome-Content h1{
    text-align: center;
    color: var(--C9);
    margin-bottom: 5rem;
}

.welcome-Content h1 span{
    color: var(--C1);
}

.welcome-Content p{
    text-align: justify;
    color: var(--C9);
}

.welcome-Content p span{
    color: var(--C1);
}

/*-----keynote Content-----*/

.keynote-Content h1{
    text-align: center;
}

.card{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    justify-content: center;
    align-items: center;
}

.card-container__image{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1.5rem 3.5rem -1.5rem rgba(0,0,0,0.5), 0 0.5rem 2rem rgba(0,0,0,0.1);
}

.card-container__image img{
    width: 100%;
    height: 100%;
}

.card-container{
    position: relative;
    width: 29rem;
    background-color: var(--C8);
    border-radius: 0.8rem;
    box-shadow: 0 0.8rem 0.8rem 0 var(--C6);
    padding: 1.6rem;
    margin: 5.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container p{
    line-height: 2.4rem;
    letter-spacing: 0.5px;
    margin-bottom: 1.2rem;
    text-align: center;
}

.name{
    margin-top: 8rem;
    font-size: 1.4rem;
    color: var(--C0);
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin:1.2rem 0.8rem;
    width: 4.4rem;
    height: 4.4rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.4;
}

button:hover{
    opacity: 0.8;
}
button i{
    color: var(--C8);
    font-size: 1.4rem;
}

/*-----social media color-----*/

button.github{
    background-color: #24292e;
}

button.twitter{
    background-color: #1da1f2;
}

button.pinterest{
    background-color: #d3263a;
}

/*-----Publication Content-----*/

.publication-content h1{
    text-align: center;
    color: var(--C9);
}

.publication-content__container{
    display: flex;
    padding: 5rem;
}

.book-description{
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-description p{
    padding: 2rem;
    text-align: justify;
    color: var(--C9);
}

.book-description p span{
    color:  var(--C1);
}

/*-----News Content-----*/

.news-content h1{
    text-align: center;
    padding-bottom: 2rem;
}

.news-content__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*-----sponsor-----*/

.news-content__sponsor{
    width: 40rem;
    height: 26rem;
    border-radius: 5rem;
    box-shadow: 0 0.8rem 0.8rem 0 var(--C6);
    border: 0.3rem solid var(--C1);
    padding: 2rem;
    margin: 2rem;
}

.news-content__sponsor h2{
    text-align: center;
}

.sponsor__img{
    padding: 2rem 0;
    width: 35rem;
    height: 20rem;
}

.sponsor__img img{
    width: 100%;
    height: 100%;
}

/*-----conference management-----*/

.news-content__conference-management{
    width: 40rem;
    height: 26rem;
    border-radius: 5rem;
    box-shadow: 0 0.8rem 0.8rem 0 var(--C6);
    border: 0.3rem solid var(--C1);
    padding: 2rem;
    margin: 2rem;
}

.news-content__conference-management h2{
    text-align: center;
}

.conference-management__img{
    padding: 2rem 0;
    width: 35rem;
    height: 20rem;
}

.conference-management__img img{
    width: 100%;
    height: 100%;
}

/*-----publication partner-----*/

.news-content__publication-partner{
    width: 40rem;
    height: 26rem;
    border-radius: 5rem;
    box-shadow: 0 0.8rem 0.8rem 0 var(--C6);
    border: 0.3rem solid var(--C1);
    padding: 2rem;
    margin: 2rem;
}

.news-content__publication-partner h2{
    text-align: center;
}

.publication-partner__img{
    padding: 2rem 0;
    width: 35rem;
    height: 20rem;
}

.publication-partner__img img{
    width: 100%;
    height: 100%;
}

/*-----footer-----*/

.footer p{
    text-align: center;
    color: var(--C9);
}

/*-----responsive-----*/

@media screen and (max-width:690px){

    /*navigation bar*/
    nav{
        height: 7rem;
        padding: 1rem;
    }

    .udmLogo img{
        z-index: -1;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--C6);
        line-height: 2.4rem;
        visibility: hidden;
        transition: 0.3s;
    }

    nav ul li{
        transition: 0.3s 0.1s all;
        opacity: 0;
    }

    nav ul li a{
        color:var(--C8);
    }

    nav img{
        display:flex;
        height: 4rem;
        width: 28%;
        padding: 0.4rem 1rem;
    }

    /*icon bar*/
    .bar{
        display: flex;
        position: absolute;
        top: -1rem;
        right: -1rem;
        cursor: pointer;
        padding: 1rem;
    }

    .bar #times{
        display:none;
    }

    #check:checked ~ nav .bar #times{
        display: block;
    } 

    #check:checked ~ nav .bar #bars{
        display: none;
    } 

    #check:checked ~ nav ul{
        visibility: visible;
    }

    /*style menu*/
    nav ul li:nth-child(1){
        transform: translateX(-15rem);
    }
    nav ul li:nth-child(2){
        transform: translateX(-20rem);
    }
    nav ul li:nth-child(3){
        transform: translateX(-25rem);
    }
    nav ul li:nth-child(4){
        transform: translateX(-30rem);
    }
    nav ul li:nth-child(5){
        transform: translateX(-35rem);
    }

    #check:checked ~ nav  ul li:nth-child(1),
    #check:checked ~ nav  ul li:nth-child(2),
    #check:checked ~ nav  ul li:nth-child(3),
    #check:checked ~ nav  ul li:nth-child(4),
    #check:checked ~ nav  ul li:nth-child(5){
        transform: translateX(0);
        opacity: 1;
    }

    .udmLogo{
        align-items: center;
        justify-content: center;
    }

    .udmLogo img{
        height: 7rem;
    }

    .icacieLogo{
        align-items: center;
        justify-content: center;
    }

    .icacieLogo img{
        height: 7rem;
    }

    .event{
        z-index: -1;
    }

    .event h2{
        text-align: center;
        font-size: 2rem;
    }
    
    .event h3{
        text-align: center;
        font-size: 1rem;
    }
    
    .event p{
        text-align: center;
        font-size: 1rem;
    }   

    /*-----Welcome Content-----*/
    .welcome-Content{
        padding: 7rem;
    }

    .welcome-Content h1{
        text-align: center;
        font-size: 2rem;
    }

    .welcome-Content p{
        font-size: 1rem;
    }

    /*-----keynote Content-----*/

    .keynote-Content h1{
        font-size: 2rem;
    }

    .card-container{
        width: 27rem;
    }
   
    /*-----Publication Content-----*/

    .publication-content__container{
        margin: 2rem -5rem;
        padding: 1rem ;
    }

    .publication-content h1{
        font-size: 2rem;
    }

    /*-----Important news-----*/

    .news-content h1{
        font-size: 2rem;
    }

    .news-content__sponsor h2,
    .news-content__conference-management h2,
    .news-content__publication-partner h2{
        font-size: 1.5rem;
    }

}



@media screen and (max-width:947px){
    /*-----Welcome Content-----*/
    .welcome-Content{
        padding: 7rem 7rem;
    }

    .welcome-Content h1{
        text-align: center;
        font-size: 2rem;
    }

    .welcome-Content p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1022px){

    /*-----Publication Content-----*/

    .publication-content{
        padding: 8rem 8rem;
        padding-bottom: 1.5rem;
    }

    .publication-content__container{
        flex-direction: column;
    }

    .book-image{
        display: flex;
        justify-content: center;
    }

    .book-description p{
        padding-top: 5rem;
    }

    .book-description{
        padding-left: 0;
    }
}

@media screen and (max-width:500px){

    /*-----important news-----*/
    .news-content__sponsor{
        width: 96%;
    }

    .sponsor__img{
        width: 97%;
    }

    .news-content__conference-management{
        width: 96%;
    } 

    .conference-management__img{
        width: 97%;
        height: 78%;
    }

    .news-content__publication-partner{
        width: 96%;
    }

    .publication-partner__img{
        width: 97%;
        height: 78%;
    }

}