.header{
    background-color: var(--C1);
    height: 6.2rem;
}

.main-Content{
    display: flex;
    flex-direction: column;
}

.welcome-Content{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(20, 136, 204, 0.555)), url("../images/blue.jpg");
    /*background-color: var(--C6);*/
    padding: 12rem 22rem;
}

.keynote-Content{
    padding: 8rem 1rem;
    padding-bottom: 1rem;
    background-color: var(--C9);
}

.publication-content{
    padding: 8rem 20rem;
    background-color: var(--C10);
    padding-bottom: 5rem;
}

.news-content{
    padding: 5rem;
    justify-content: center;
    background-color: var(--C9);
}

.footer{
    background-color: var(--C1);
    padding: 2rem;
}