/*navigation bar*/
nav{
    font-size: 2rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav ul li{
    margin: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--C9);
}

nav ul li a:hover{
    color: var(--C6); 
}

nav img{
    height: 4rem;
    display: none;
}

.active{
    color: var(--C6);
}
/*main Content ==> udmLogo*/

.udmLogo{
    height: 18rem;
    display: flex;
    align-items: center;
    
}

.udmLogo img{
    height: 9rem;
    margin: 5rem;
}

/*styling icon for nav bar*/

.bar{
    display: flex;
    flex:1;
    margin: 3rem;
    align-items: center;
    justify-content: right;
    display: none;
}

.bar span{
    position:absolute;
    color: var(--C9);
    font-size: 3.2rem;
}

input[type="checkbox"]{
    display: none;
}

/*-----Main Content-----*/

/*background title*/
.background-title{
    background: linear-gradient(rgba(38, 96, 129, 0), rgba(20, 137, 204, 0.219)), url("../images/k.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.background-title h1,
.background-title h2{
    justify-content: center;
    text-align: center;
    color: var(--C8);
}

.background-title h1{
    font-size: 5rem;
}

.background-title h2{
    font-size: 3rem;
}

/*-----Travel Restrictions-----*/
.travel-restrictions h3{
    padding-bottom: 3rem;
    text-align: center;
}


.travel-restrictions__lists{
    display: flex;
}

.list{
    flex: 1;
    margin-top: 12rem;
    text-align: justify;
}

.list-img{
    
    margin-right: 5rem;
}

.list-img img{
    width: 35rem;
    height: 35rem;
}

/*-----travel requirement-----*/
.travel-requirement__title{
    text-align: center;
    padding: 5rem 0;
}

.travel-requirement__list{
    padding: 0 15rem;
    padding-bottom: 5rem;
}

.travel-requirement__list p{
    padding-bottom: 2rem;
    text-align: justify;
}

.ulList{
    padding-left: 5rem;
    text-align: justify;
}

/*-----DEPARTURE-----*/
.departure__title{
    text-align: center;
    padding: 5rem 0;
}

.departure__list{
    padding: 0 15rem;
    padding-bottom: 5rem;
}

.departure__list ul li{
    text-align: justify;
}

/*-----footer-----*/
.footer p{
    text-align: center;
    color: var(--C9);
}

@media screen and (max-width:690px){

    /*navigation bar*/
    nav{
        height: 7rem;
        padding: 1rem;
    }

    .udmLogo img{
        z-index: -1;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--C1);
        line-height: 2.4rem;
        visibility: hidden;
        transition: 0.3s;
    }

    nav ul li{
        transition: 0.3s 0.1s all;
        opacity: 0;
    }

    nav ul li a{
        color:var(--C8);
    }

    nav img{
        display:flex;
        height: 4rem;
        width: 28%;
        padding: 0.4rem 1rem;
    }

    /*icon bar*/
    .bar{
        display: flex;
        position: absolute;
        top: -1rem;
        right: -1rem;
        cursor: pointer;
        padding: 1rem;
    }

    .bar #times{
        display:none;
    }

    #check:checked ~ nav .bar #times{
        display: block;
    } 

    #check:checked ~ nav .bar #bars{
        display: none;
    } 

    #check:checked ~ nav ul{
        visibility: visible;
    }

    /*style menu*/
    nav ul li:nth-child(1){
        transform: translateX(-15rem);
    }
    nav ul li:nth-child(2){
        transform: translateX(-20rem);
    }
    nav ul li:nth-child(3){
        transform: translateX(-25rem);
    }
    nav ul li:nth-child(4){
        transform: translateX(-30rem);
    }
    nav ul li:nth-child(5){
        transform: translateX(-35rem);
    }

    #check:checked ~ nav  ul li:nth-child(1),
    #check:checked ~ nav  ul li:nth-child(2),
    #check:checked ~ nav  ul li:nth-child(3),
    #check:checked ~ nav  ul li:nth-child(4),
    #check:checked ~ nav  ul li:nth-child(5){
        transform: translateX(0);
        opacity: 1;
    }

    .background-title{
        background-size: cover;
    }

    .background-title h1{
        font-size: 2rem;
    }
    
    .background-title h2{
        font-size: 1.5rem;
    }
    
    .list-img img{
        width: 25rem;
        height: 25rem;
    }

    .list{
        margin: 3rem 2rem;
        padding: 0;
        
    }

    .travel-restrictions h3{
        padding: 3rem;
    }


    /*-----travel requirement-----*/
    .ulList{
        padding-left: 0;
        padding-bottom: 5rem;
    }

    .travel-requirement__list{
        padding: 0 5rem;
    }

    .travel-requirement__title{
        text-align: center;
    }

    /*-----departure-----*/
    .departure__list{
        padding: 0 5rem;
        padding-bottom: 5rem;
    }
}


@media screen and (max-width:1163px){
    /*-----travel restrictions-----*/
    .list{
        padding: 0 1rem;
        margin: 3rem 1rem;
    }

    .travel-restrictions{
        padding: 3rem;
    }

    .travel-restrictions__lists{
        flex-direction: column;
    }

    .list-img{
          text-align: center;
          margin: 0;
    }
    
}