.header{
    background-color: var(--C6);
    height: 6.2rem;
}

.travel-restrictions{
    display: flex;
    flex-direction: column;
    padding: 5rem 15rem;
    background-color: var(--C9);
}

.travel-requirement{
    background-color: var(--C6);
    color: var(--C9);
}

.departure{
    display: flex;
    flex-direction: column;
    background-color: var(--C9);
}

.footer{
    background-color: var(--C6);
    padding: 2rem;
}