.header{
    background-color: var(--C1);
    height: 6.2rem;
}

.main-Content{
    display: flex;
    flex-direction: column;
}

.keynote-speaker{
    display: flex;
    flex-direction: column;
}

.footer{
    background-color: var(--C1);
    padding: 2rem;
}