/*navigation bar*/
nav{
    font-size: 2rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav ul li{
    margin: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--C9);
}

nav ul li a:hover{
    color: var(--C1); 
}

nav img{
    height: 4rem;
    display: none;
}
/*main Content ==> udmLogo*/

.udmLogo{
    height: 18rem;
    display: flex;
    align-items: center;
    
}

.udmLogo img{
    height: 9rem;
    margin: 5rem;
}

/*styling icon for nav bar*/

.bar{
    display: flex;
    flex:1;
    margin: 3rem;
    align-items: center;
    justify-content: right;
    display: none;
}

.bar span{
    position:absolute;
    color: var(--C9);
    font-size: 3.2rem;
    padding: 0 -1rem;
}

input[type="checkbox"]{
    display: none;
}

/*-----Main Content-----*/

/*background title*/
.background-title{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),url('../images/bed.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}

.background-title h1,
.background-title h2{
    justify-content: center;
    text-align: right;
    padding-right: 5rem;
    color: var(--C9);
}

.background-title h1{
    font-size: 5.5rem;
}

.background-title h2{
    font-size: 3rem;
}

/*-----accommodation------*/
.accommodation__title{
    text-align: center;
    padding: 4rem 0;
}

.accommodation__hotel-row{
    padding: 0 18rem;
    padding-bottom: 5rem;
}

.first-hotel{
    width: 40%;
}

.first-hotel__note img{
    width: 100%;
    height: 100%;
}

/*-----hotel-----*/
.hotel-button{
    width: 100%;
    height: 3rem;
    background-color: var(--C6);
    color: var(--C9);
    margin-bottom: 5rem;
}

.hotel-button1{
    width: 100%;
    height: 3rem;
    background-color: var(--C6);
    color: var(--C9);
    margin-bottom: 0;
}

.first-hotel__note img{
    height: 15rem;
}

.first-hotel__note1{
    width: 45%;
}

.hotel-img{
    height: 12rem;
}

.hotel-img img{
    width: 100%;
    height: 100%;
}

.hotel-column__row{
    display: flex;
    justify-content: space-between;
}

.hotel-column{
    display: flex;
    justify-content: space-between;
}

.hotel-col{
    width: 55%;
}

.images{
    height: 47.2rem;
}

.images img{
    width: 100%;
    height: 100%;
}

/*-----footer-----*/
.footer p{
    text-align: center;
    color: var(--C9);
}

@media screen and (max-width:1215px){
    .images{
        height: 47.1rem;
    }

    .accommodation__hotel-row{
        padding: 0 5rem;
    }
}

@media screen and (max-width:1014px){
    .images{
        height: 47.1rem;
    }

}

@media screen and (max-width:970px){
    .hotel-column{
        flex-direction: column;
        align-items: center;
    }

    .hotel-column__column{
        padding-top: 5rem;
        justify-content: center;
        align-self: center;
        justify-self: center;
    }
    .first-hotel{
        width: 80%;
    }

    .hotel-col{
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .hotel-column{
        justify-content: center;
        align-items: center;
    }

    .images{
        height: 30rem;
        justify-content: center;
    }

    .first-hotel__note{
        justify-content: center;
    }



}

@media screen and (max-width:690px){

    /*navigation bar*/
    nav{
        height: 7rem;
        padding: 1rem;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--C6);
        line-height: 2.4rem;
        visibility: hidden;
        transition: 0.3s;
        z-index: -1;
    }

    nav ul li{
        transition: 0.3s 0.1s all;
        opacity: 0;
    }

    nav ul li a{
        color:var(--C8);
    }

    nav img{
        display:flex;
        height: 4rem;
        width: 28%;
        padding: 0.4rem 1rem;
    }

    /*icon bar*/
    .bar{
        display: flex;
        position: absolute;
        top: -1rem;
        right: -1rem;
        cursor: pointer;
        padding: 1rem;
    }

    .bar #times{
        display:none;
    }

    #check:checked ~ nav .bar #times{
        display: block;
    } 

    #check:checked ~ nav .bar #bars{
        display: none;
    } 

    #check:checked ~ nav ul{
        visibility: visible;
    }

    /*style menu*/
    nav ul li:nth-child(1){
        transform: translateX(-15rem);
    }
    nav ul li:nth-child(2){
        transform: translateX(-20rem);
    }
    nav ul li:nth-child(3){
        transform: translateX(-25rem);
    }
    nav ul li:nth-child(4){
        transform: translateX(-30rem);
    }
    nav ul li:nth-child(5){
        transform: translateX(-35rem);
    }

    #check:checked ~ nav  ul li:nth-child(1),
    #check:checked ~ nav  ul li:nth-child(2),
    #check:checked ~ nav  ul li:nth-child(3),
    #check:checked ~ nav  ul li:nth-child(4),
    #check:checked ~ nav  ul li:nth-child(5){
        transform: translateX(0);
        opacity: 1;
    }

    /*-----main content-----*/
    .main-Content{
        z-index: -1;
    }

    .background-title h1{
        font-size: 2rem;
        padding-right: 2rem;
        text-align: center;
    }
    
    .background-title h2{
        font-size: 1.5rem;
        padding-right: 2rem;
        text-align: center;
    }

    .background-title{
        background-size: cover;
    }

    /*-----accommodation-----*/
    .hotel-column{
        justify-content: center;
        align-items: center;
    }

    .first-hotel{
        width: 100%;
    }

    .hotel-column__column{
        margin: 0 -8.2rem;
    }

    .hotel-col{
        width: 91.5%;
        padding: 0 1rem;
    }

    .hotel-column__column{
        padding: 5rem 5rem 0 5rem;
    }
}



@media screen and (max-width:892px){
    /*-----main content-----*/
    .background-title h1{
        font-size: 3rem;
    }
    
    .background-title h2{
        font-size: 1.8rem;
    }
}